<mat-dialog-content [formGroup]="form" class="form">
    
    <h2>Voeg een film toe</h2>
    <mat-form-field class="form-group">
        <input
            formControlName="filmTitle"
            matInput
            placeHolder="Film Titel"
            [(ngModel)]="title"
            required
        />
    </mat-form-field>  
    <mat-error class="error" *ngIf="hasFailed">{{ errormessage }}</mat-error>  
</mat-dialog-content>

<mat-dialog-actions>
    <button class="btn btn-block btn-primary" (click)="close()">Close</button>
    <button class="btn btn-block btn-primary" (click)="save()">Save</button>
</mat-dialog-actions>